//白天模式
.theme-light-page {
    background-color: #FFF !important;

    .theme-color {
        color: #333 !important;
    }
    .theme-block {
        background-color: #333 !important;
        
        .color {
            color: #fff !important;
        }
    }
}
